.gradient-bg {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2c2c2c",GradientType=1);
}

.SRLNextButton {
    display: flex !important;
}

.SRLPrevButton {
    display: flex !important;
}